
body {
    /*background-color:  #f2c0ff;; */
    height: 1000px;
    background-image: linear-gradient(#716f99, #590d82);
}

h1 {
    color: white;
    font-size: 75px;
}

h3{
    color: #66bfbf;
}

hr {
    background-color: none;
    border-style: dotted none none none;
    border-color: grey;
    border-width: 6px;
    height: 0px;
    width: 5%;
}

